{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Summary Explorer{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "frontend/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "frontend/main.css" %}">
    {% block js %}  {% endblock %}
<style>
:root {
    --body_bg_color: #FFFFFF;
    --nav_bg_color: #122b3c;/*#122b3c; /* #1A1A1A */
    --nav_txt_color: #EDA820;
    --content_font: Verdana;
    --headers_font: 'Open Sans';
    --sum_bg_color: #dfe4e6;
}
.headers_1{
    color: var(--nav_bg_color);
    font-family: var(--headers_font), sans-serif;
}

.header_font{
    font-family: var(--headers_font), sans-serif;
}
.text-xxxs {
    font-size: 0.5rem;
}

.text-xxs {
    font-size: 0.6rem;
}
</style>
</head>
<body style="background-color: #f0f2f5 ;font-family: Verdana, serif;">
    <div class="pb-16">
    {% include 'frontend/nav.html' %}

    {% block content %}
    {% endblock %}
    </div>

    {% include 'frontend/footer.html' %}

</body>
</html>