{% extends "frontend/base.html" %}
{% block js %}

{% endblock %}
{% load static %}

{% block content %}
    <div id="root" class="container mx-auto w-full mt-2">
        <div class="w-full p-1 rounded-lg mt-4 px-4 py-4 justify-end text-sm left-0 text-left ">
            <h1 class="text-2xl font-bold text-normal mb-0 px-4 py-2 font-extrabold text-justify article_header text-blue-900
                             header_font">
                                Credits
            </h1>

            <div>
                <ul class="grid grid-cols-1 px-4 gap-y-4 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:lg:grid-cols-4 gap-x-4 ">
                    <li class="col-span-1 bg-white">
                        <a href="https://temir.org/people.html">
                            <div class="flex flex-row lg:flex-row overflow-hidden h-auto sm:h-auto ">
                              <img class="block h-full flex-none sm:h-auto " src="https://webis.de/img/people/syed.jpg">
                              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                                  <div class="text-black  text-base mb-1 leading-tight text-gray-700">Shahbaz Syed</div>
                                  <div class="text-xs text-gray-600">Leipzig University</div>
                                  <img src="https://webis.de/img/organizations/logo-universitaet-leipzig.png" class="w-32">
                              </div>
                            </div>
                        </a>
                    </li>

                    <li class="col-span-1 bg-white">
                        <a href="https://temir.org/people.html">
                            <div class="flex flex-row lg:flex-row overflow-hidden h-auto  ">
                              <img class="block h-full flex-none   sm:h-auto" src="https://temir.org/people/img/yousef.jpg">
                              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                                  <div class="text-black  text-base mb-1 leading-tight text-gray-700">Tariq Yousef</div>
                                  <div class="text-xs text-gray-600">Leipzig University</div>
                                  <img src="https://webis.de/img/organizations/logo-universitaet-leipzig.png" class="w-32">
                              </div>
                            </div>
                        </a>
                    </li>

                    <li class="col-span-1 bg-white">
                        <a href="https://temir.org/people.html">
                            <div class="flex flex-row lg:flex-row  overflow-hidden h-auto  ">
                              <img class="block h-full flex-none sm:h-auto" src="https://temir.org/people/img/alkhatib.jpg">
                              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                                  <div class="text-black  text-base mb-1 leading-tight text-gray-700">Khalid Al-Khatib</div>
                                  <div class="text-xs text-gray-600">Leipzig University</div>
                                  <img src="https://webis.de/img/organizations/logo-universitaet-leipzig.png" class="w-32">
                              </div>
                            </div>
                        </a>
                    </li>

                    <li class="col-span-1 bg-white">
                        <a href="https://imada.sdu.dk/~stjaenicke/">
                            <div class="flex flex-row lg:flex-row  overflow-hidden h-auto  ">
                              <img class="block h-full flex-none sm:h-full" src='{% static "frontend/images/jaenicke.jpg"%}'>
                              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                                  <div class="text-black  text-base mb-1 leading-tight text-gray-700">Stefan Jänicke</div>
                                  <div class="text-xs text-gray-600 pb-0">University of Southern Denmark</div>
                                  <img src='{% static "frontend/images/university-of-southern-denmark.png" %}' class="w-16">
                              </div>
                            </div>
                        </a>
                    </li>

                    <li class="col-span-1 bg-white">
                        <a href="https://temir.org/people.html">
                            <div class="flex flex-row lg:flex-row object-none overflow-hidden h-auto  ">
                              <img class="block h-full flex-none   sm:h-auto" src="https://webis.de/img/people/potthast.jpg">
                              <div class="bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                                  <div class="text-black  text-base mb-1 leading-tight text-gray-700">Martin Potthast</div>
                                  <div class="text-xs text-gray-600"> Leipzig University</div>
                                  <img src="https://webis.de/img/organizations/logo-universitaet-leipzig.png" class="w-32">
                              </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="mt-10 mb-10">
                <h1 class="text-xl font-bold text-normal mb-0 px-4 py-2 font-extrabold text-justify article_header text-blue-900
                header_font">
                  Acknowledgements
                </h1>

            <p class="px-4">
                We sincerely thank all the authors who made their code and model outputs publicly available, meta evaluations of  <a href="https://github.com/Yale-LILY/SummEval" class="underline">Fabbri et al., 2020</a> and <a href="https://github.com/neulab/REALSumm" class="underline">Bhandari et al., 2020</a>, and the summarization leaderboard at <a href="https://nlpprogress.com/english/summarization.html" class="underline">NLP-Progress.</a>
            </p>
            </div>
        </div>

    </div>
    {% load static %}
{#    <script src="{% static "frontend/main.js" %}"></script>#}
{% endblock %}

