{% extends "frontend/base.html" %}
{% block js %}

{% endblock %}


{% block content %}
    <div id="root" class="container mx-auto w-full mt-2">
    <div class="w-full p-1 bg-white rounded-lg mt-4 px-4 py-4 justify-end text-sm left-0 text-left ">
        <h1 class="font-bold text-xl mb-2 text-blue-900">Summarization Models</h1>
        <table>
            {% for obj in models %}
                <div class="table-row border border-gray-300 px-3 py-2 m-2 rounded-lg shadow">
                    <div class="table-cell uppercase hover:underline text-orange-700 px-3"><a href="{{ a.url }}">{{ obj.name }}</a></div>
                    <div class="table-cell py-3 mt-1">{{ obj.raw.title }}</div>
{#                    <div class="table-cell py-3 mt-1">{{ obj.raw.abstract }}</div>#}
                </div>
            {% endfor %}
        </table>
    </div>
    {% load static %}
{#    <script src="{% static "frontend/main.js" %}"></script>#}
{% endblock %}

