<nav class="bg-gradient-to-r from-blue-900 to-blue-800" >
    <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex items-center px-2 lg:px-0">
                <a href="/" >
                    <div class="flex-shrink-0" style="font-family: var(--headers_font), sans-serif;">
                        <span class="text-white font-semibold" >
                            Summary
                        </span>
                        <span class="font-extrabold text-yellow-600">
                            Explorer
                        </span>
                    </div>
                </a>
                <div class="hidden lg:block lg:ml-6" style="font-family: 'Open Sans'">
                    <div class="flex space-x-2 h-">
                        <div class="dropdown inline-block relative">
                            <a href="#" class="hover:text-yellow-600 hover:underline text-white px-2 py-2 rounded-md text-sm font-medium block">
                                <button class="relative inline-flex items-center px-0 py-2 ">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1 text-yellow-600" viewBox="0 0 20 20" fill="currentColor">
                                      <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z" />
                                    </svg>
                                    <span>
                                        Datasets
                                    </span>
                                </button>
                            </a>
                            <ul class="dropdown-menu absolute hidden text-white -mt-1 pt-1 bg-blue-900 rounded shadow z-50 opacity-100">
                                <li class=""><a
                                        class="rounded-t bg-blue-900 hover:text-yellow-800 text-xs  hover:bg-white hover:border hover:border-blue-800  py-2 px-4 block whitespace-no-wrap"
                                        href="main?dataset=1">CNN/DailyMail</a></li>
                                <li class=""><a
                                        class=" bg-blue-900  hover:text-yellow-800  text-xs  hover:bg-white hover:border hover:border-blue-800  py-2 px-4 block whitespace-no-wrap"
                                        href="main?dataset=2">
                                    XSum</a></li>
                                <li class=""><a
                                        class="rounded-b bg-blue-900  hover:text-yellow-800 text-xs   hover:bg-white hover:border hover:border-blue-800 py-2 px-4 block whitespace-no-wrap"
                                        href="main?dataset=3">Webis TL;DR</a></li>
                            </ul>
                        </div>

                        <div class="inline-block relative">
                            <a href="/models" class="hover:text-yellow-600 hover:underline text-white px-3 py-2 rounded-md text-sm font-medium block">
                                <button class="relative inline-flex items-center px-0 py-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1 inline-block text-yellow-600" viewBox="0 0 20 20" fill="currentColor">
                                      <path d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z" />
                                    </svg>
                                    <span>
                                        Models
                                    </span>
                                </button>
                            </a>
                        </div>

                        <div class="inline-block relative">
                            <a href="/about" class="hover:text-yellow-600 hover:underline text-white px-3 py-2 rounded-md text-sm font-medium block">
                                <button class="relative inline-flex items-center px-0 py-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-1 inline-block text-yellow-600" viewBox="0 0 20 20" fill="currentColor">
                                      <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0c0 .993-.241 1.929-.668 2.754l-1.524-1.525a3.997 3.997 0 00.078-2.183l1.562-1.562C15.802 8.249 16 9.1 16 10zm-5.165 3.913l1.58 1.58A5.98 5.98 0 0110 16a5.976 5.976 0 01-2.516-.552l1.562-1.562a4.006 4.006 0 001.789.027zm-4.677-2.796a4.002 4.002 0 01-.041-2.08l-.08.08-1.53-1.533A5.98 5.98 0 004 10c0 .954.223 1.856.619 2.657l1.54-1.54zm1.088-6.45A5.974 5.974 0 0110 4c.954 0 1.856.223 2.657.619l-1.54 1.54a4.002 4.002 0 00-2.346.033L7.246 4.668zM12 10a2 2 0 11-4 0 2 2 0 014 0z" clip-rule="evenodd" />
                                    </svg>
                                    <span>
                                        About
                                    </span>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>